!!! 5
%html
  %head
    %title CouchBlog - Admin
    = stylesheet_link_tag    "couch_blog/admin/application", :media => "all"
    = javascript_include_tag "couch_blog/admin/application"
    = csrf_meta_tags
  %body
    #page-wrapper
      #header-container
      #navigation-container
        = render 'page_links'
        .clearing
      #content-container
        #alerts-container= render 'alerts'
        #title-container
          %h1#title= yield :title
        
        #content= yield
